@tailwind base;
@tailwind components;
@tailwind utilities;

.font-brand {
  font-family: "Josefin Sans", sans-serif;
}

.font-rubik {
  font-family: var(--rubik-font);
}

.bg-main {
  background: 50% / cover no-repeat url("/images/taos-bg.jpg") black;
}
